body{
  color:var(--el-text-color-regular)
}

$pad: 10px;

.wg-box-wrapper {
  background-color: #eef0f4;
  padding: $pad 0 0 $pad;

  .wg-box-block {
    padding: $pad;
    background-color: #ffffff;
    margin-top: $pad;
    &:first-child {
      margin-top: 0;
    }
  }

  .el-table{
    width: calc(100% - 5px) !important;
  }

  th {
    background-color: #f2f2f2 !important;
  }
}

.wg-box-inline {
  display: inline-block;
}

.wg-wid-full{
  width: 100%;
}
//
.wg-pda-mini{
  padding: $pad
}
.wg-pdt-mini{
  padding-top: $pad
}
.wg-pdb-mini{
  padding-bottom: $pad
}
.wg-pdl-mini{
  padding-left: $pad
}
.wg-pdr-mini{
  padding-right: $pad
}

.wg-mga-mini {
  margin: $pad;
}
.wg-mgt-mini {
  margin-top: $pad;
}
.wg-mgb-mini {
  margin-bottom: $pad;
}
.wg-mgl-mini {
  margin-left: $pad;
}
.wg-mgr-mini {
  margin-right: $pad;
}

.wg-mga-big {
  margin: 2 * $pad;
}
.wg-mgt-big {
  margin-top: 2 * $pad;
}
.wg-mgb-big {
  margin-bottom: 2 * $pad;
}
.wg-mgl-big {
  margin-left: 2 * $pad;
}
.wg-mgr-big {
  margin-right: 2 * $pad;
}

.wg-bold{
  font-weight: bold;
}

.wg-title-1{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wg-title-2{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.wg-top-popper {
  width: 200px;
}
